:root {
    --background-slate: #05386B;
    --element-color: #379683;
    --text-color: #EDF5E1;
    --border-color: #8EE4AF;
    --banner-color: #780F7D;
}


body {
    background-color: var(--background-slate);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: var(--text-color);
}

#title {
    font-size: 15vw;
    font-weight: bold;
}

#board-container {
    background-color: var(--element-color);
    display: grid;
    width: 90vw;
    height: 90vw;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-items: center;
    border: 10px ridge var(--border-color);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    font-size: 5rem;
}

#reset-button {
    box-sizing: border-box;
    background-color: var(--element-color);
    color: var(--text-color);
    border: 5px groove var(--border-color);
    border-radius: 15px;
    width: 250px;
    height: 75px;
    font-size: 2rem;
}

#win-banner-container {
    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
    height: 150px;
    width: 98vw;
}

#win-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px ridge #CD5FD2;
    font-size: 4rem;
    color: var(--text-color);
    background-color: var(--banner-color);
    width: 100%;
    height: 100%;
}